<h1>Текст задания: </h1>
<p>Существует гипотеза, что для любого натурального числа, если оно
не палиндром, можно получить палиндром за конечное число шагов по
следующей схеме. Меняем порядок его цифр на обратный и складываем исходное число с получившимся. Если сумма не палиндром, то над
ней повторяется то же действие и так до тех пор, пока не получится
палиндром. Написать программу, подтверждающую эту гипотезу и выводящую результаты на каждом шаге в формате: номер шага, текущее
значение, указание подтверждена ли гипотеза или нет.<p>

  <%= form_with do |f|%>
    <%= f.text_field :number, :value => '174', required: true, placeholder: "Введите число"%>
    <%= f.submit "Отправить на проверку"%>
  <%end%>
